#letter-possibilities-container {
  background-color: rgb(74, 250, 20);
  border-radius: 10px;
  border-radius: 10px;
}

#phrase-container {
    background-color:rgb(74, 250, 20);
    border-radius: 50px;
    text-align: center;
}

#phrase-answer_blocks {
    background-color: gray;
}

#letter-possibility {
    color:white;
    padding: 2vw;
    border-radius:10px;
    margin: 1vw;
    font-size: 10vh;
}

#letter-possibility-button {
    background-color: black;
    color:white;
    padding: 4vh;
    margin: .5vh;
    border-radius: 10px;

}

.successful-letter-possibility {
    background-color: green;
    color:white;
    padding: 4vh;
    margin: .5vh;
    border-radius: 10px;

}
/* #phrase-answer_blocks {
   STYLING FOR THE ANSWER BLOCKS
} */
#top-container {
    padding: 2vw;
    background-color:rgb(74, 250, 20);
    text-align: center;
    padding: auto;
}
#hangman-image-container {
    border-radius:10px;
}

#category-container {
    background-color:gray;
    border-radius: 10px;
}

#hangman-image {
    border-radius: 10px;
    padding: 10vh;
}

.empty-block {
    border-width: 0vh 0vh 0.3vh 0vh;
    background-color: gray;
    border-style: ridge;
    margin: 1vh;
    padding: 3vh;
    border-color: rgb(74, 250, 20);
}
.punctuation-span {
    font-size: 5vh;
}