#letter-possibilities-container {
  background-color: lightblue;
  border-radius: 10px;
  border-radius: 10px;

}

#phrase-container {
    background-color: yellow;
    border-radius: 50px;
    text-align: center;
}

#letter-possibility {
    color:blue;
    padding: 2vw;
    border-radius:10px;
    margin: 2vw;
}
/* #phrase-answer_blocks {
   STYLING FOR THE ANSWER BLOCKS
} */

#hangman-image-container {
    padding: 2vw;
    border-radius:10px;
    background-color:blue;
    margin-bottom: 5vh;
    text-align: center;
    padding: auto;
}