#letter-possibilities-container {
  background-color:  yellow;
  border-radius: 10px;
  border-radius: 10px;
}

#phrase-container {
    background-color: yellow;
    border-radius: 50px;
    text-align: center;
}

#letter-possibilities-container {
  background-color: lightgray;
  border-radius: 10px;
  border-radius: 10px;
}

#phrase-container {
    background-color: yellow;
    border-radius: 50px;
    text-align: center;
}

#phrase-answer_blocks {
    background-color: gray;
}

#letter-possibility {
    color:white;
    padding: 2vw;
    border-radius:10px;
    margin: 1vw;
    font-size: 10vh;
}

#letter-possibility-button {
    background-color: black;
    font-size: 4vh;
    color:white;
    margin: .1vh;
    width:10vh;
    height: 10vh;
    border-radius: 10px;
    border-color: yellow;

}

#successful-letter-possibility {
    background-color: green;
    font-size: 4vh;
    color:white;
    margin: .1vh;
    width:10vh;
    height: 10vh;
    border-radius: 10px;
    border-color: yellow;
    transform: rotate(45deg);

}

#wrong-letter-possibility-button {
    background-color: red;
    font-size: 4vh;
    color:white;
    margin: .1vh;
    width:10vh;
    height: 10vh;
    border-radius: 10px;
    border-color: yellow;

}
/* #phrase-answer_blocks {
   STYLING FOR THE ANSWER BLOCKS
} */
#top-container {
    padding: 2vw;
    background-color: rgba(7, 247, 227, 0.801);
    text-align: center;
    padding: auto;
}
#hangman-image-container {
    border-radius:50px;
    padding-top: 10px;
    padding-bottom: 10px;
}


#category-container {
    background-color:black;
    border-style: groove;
    border-radius: 10px;
    border-color: yellow;
}

#hangman-image {
    border-radius: 75px;
    padding: 2vh;
    
}

.empty-block {
    border-width: 0vh 0vh 0.3vh 0vh;
    background-color: gray;
    border-style: ridge;
    margin: 1vh;
    padding: 3vh;
    border-color:  yellow;
}

.empty-block-space {
    border-width: 0vh 0vh 0vh 0vh;
    background-color: gray;
    border-style: ridge;
    margin: 1vh;
    padding: 3vh;
    border-color:gray;
}

.punctuation-span {
    font-size: 5vh;
    color:  yellow;
}